$primary_color: rgb(180,204,195);
$secondary_color: rgb(14,153,9);
$third_color: rgb(248, 248,248);
$text_blue: rgb(53, 53, 252);
$text_red: rgb(253, 10, 10);
$text_green: rgb(22, 119, 22);
$text-yellow: rgb(166, 161, 68);

$basic_font:"Roboto";

@mixin set-heading($headings, $size, $step) {
    @each $heading in $headings {
        #{$heading} {
            font-size: $size;
            $size: $size - $step
        }
    }
}


