@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-LightItalic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Action Man";
  src: url("./../fonts/Action_Man-webfont.woff");
  font-style: normal;
  font-weight: 300;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  background-image: linear-gradient(rgb(180, 204, 195), 50%, rgb(248, 248, 248));
}

.page {
  width: 80vw;
  height: 100vh;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.page::-webkit-scrollbar {
  display: none;
}

h1, h2, h3 {
  color: rgb(14, 153, 9);
  font-weight: 100;
  line-height: 1em;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

#home .header {
  width: 100%;
  height: 60vh;
  background-color: transparent;
}
#home .header-top .custom-bg {
  background-color: transparent !important;
}
#home .header-top .custom-bg .navbar-nav {
  background-color: #d2e1db;
  border-radius: 10px;
}
#home .header-top .custom-bg .navbar-nav .nav-link {
  padding-left: 7px;
  color: rgb(22, 119, 22);
}
#home .header-top .custom-bg .navbar-toggler {
  background-color: #d2e1db;
}
#home .header-left, #home .header-right {
  padding: 2em;
  width: 50%;
  height: 100%;
  float: left;
}
#home .header-right .header-img {
  height: 267px;
  width: 274px;
  margin: auto;
  border: rgb(14, 153, 9) 0.5px solid;
  border-radius: 10px;
  background-image: url("../../assets/images/metoo.png");
}
#home .header-right .header-img:hover {
  animation: fadeIn 7s;
  background-image: url("../../assets/images/me.png");
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#home .header-right p {
  width: 80%;
  margin: 20px auto;
  font-style: italic;
  font-size: 1.2em;
  color: #0a6906;
}
#home .header h1 {
  font-size: 4em;
}
#home .header h2 {
  font-size: 3em;
}
#home .header h3 {
  font-size: 2em;
}
#home .footer {
  width: 100%;
  height: 40vh;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#home .footer-img {
  width: 33.3%;
  height: 100%;
  text-align: center;
}
#home .footer-img img {
  height: 95%;
  text-align: center;
}
#home .footer-img img:hover {
  height: 97%;
  text-align: center;
}

/*-----------------------*/
/* *** Media Queries *** */
/*-----------------------*/
@media only screen and (min-width: 780px) and (max-width: 1500px) {
  #home .footer-img {
    height: 50%;
  }
}
@media only screen and (max-width: 779px) {
  #home .header {
    height: 30vh;
  }
  #home .header-left {
    width: 100%;
    text-align: center;
  }
  #home .header-right {
    width: 100%;
  }
  #home .header-right p {
    display: none;
  }
  #home .header h1 {
    font-size: 2.3em;
  }
  #home .header h2 {
    font-size: 1.8em;
  }
  #home .header h3 {
    font-size: 1.3em;
  }
  #home .footer {
    display: none;
  }
}

#about {
  display: block;
}
#about .header {
  width: 100%;
  height: 13.5vh;
  background-color: transparent;
}
#about .header-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  padding-left: 5px;
  float: left;
  width: 50%;
  height: 100%;
}
#about .header-left h1, #about .header-left h2, #about .header-left h3 {
  color: rgb(53, 53, 252);
}
#about .header-left h3 {
  font-weight: bold;
}
#about .header-left h1 {
  font-size: 2em;
}
#about .header-left h2 {
  font-size: 1.4em;
}
#about .header-left h3 {
  font-size: 0.8em;
}
#about .header-right {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  visibility: hidden;
}
#about .header-right .custom-bg {
  background-color: transparent !important;
}
#about .header-right .custom-bg .navbar-nav {
  background-color: #6767fd;
  border-radius: 10px;
}
#about .header-right .custom-bg .navbar-nav .nav-link {
  padding-left: 7px;
  color: black;
}
#about .header-right .custom-bg .navbar-toggler {
  background-color: #6767fd;
}
#about .main {
  background-color: transparent;
  width: 100%;
  height: 55vh;
}
#about .main-left {
  background-color: transparent;
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .main-left .wrap-img {
  background-color: transparent;
  margin: auto;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#about .main-left .wrap-img img {
  width: 270.5px;
  height: 257px;
}
#about .main-left .wrap-img .flip {
  background-color: transparent;
  width: 270.5px;
  height: 257px;
  perspective: 1000px;
}
#about .main-left .wrap-img .inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#about .main-left .wrap-img .flip:hover .inner {
  transform: rotateY(180deg);
}
#about .main-left .wrap-img .flip-front, #about .main-left .wrap-img .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#about .main-left .wrap-img .flip-front {
  background-color: rgb(180, 204, 195);
}
#about .main-left .wrap-img .flip-front h2 {
  line-height: 237px;
  color: rgb(53, 53, 252);
}
#about .main-left .wrap-img .flip-back {
  background-color: transparent;
  transform: rotateY(180deg);
}
#about .main-right {
  float: right;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .main-right-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#about .main-right-img img {
  display: block;
  margin: 0 auto;
  max-width: 65%;
}
#about .main-right-img .text-img {
  position: absolute;
  width: 48%;
  left: 27%;
  font-size: 1.2em;
}
#about .main-right-img .text-img p {
  color: rgb(53, 53, 252);
  font-family: "Action Man";
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
#about .main-right-img .text-img p a {
  color: rgb(53, 53, 252);
  font-family: "Action Man";
}
#about .main-right-img .text-img p::-webkit-scrollbar {
  display: none;
}
#about .footer {
  width: 100%;
  height: 31.5vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .footer-img {
  float: left;
  width: 33, 3%;
  height: 100%;
}
#about .footer-img img {
  height: 300px;
}
#about .footer-img img:hover {
  height: 320px;
}

/*-----------------------*/
/* *** Media Queries *** */
/*-----------------------*/
@media only screen and (min-width: 750px) and (max-width: 1400px) {
  #about .header {
    height: auto;
  }
  #about .header-left {
    width: 10%;
    justify-content: flex-start;
  }
  #about .header-left h1, #about .header-left h2 {
    display: none;
  }
  #about .header-right {
    width: 90%;
    visibility: visible;
  }
  #about .main {
    height: 86.5vh;
  }
  #about .main-right, #about .main-left {
    float: none;
    width: 100%;
    height: 48%;
  }
  #about .main-left .wrap-img .flip {
    width: 135.25px;
    height: 118.5px;
  }
  #about .main-left .wrap-img .flip-front h2 {
    line-height: 118.5px;
    font-size: 1em;
  }
  #about .main-left .wrap-img img {
    width: 135.25px;
    height: 118.5px;
  }
  #about .main-right-img .text-img {
    width: 36%;
    left: 32.5%;
  }
  #about .main-right-img img {
    max-width: 50%;
  }
  #about .footer-img {
    display: none;
  }
}
@media only screen and (max-width: 749px) {
  #about .header {
    height: auto;
  }
  #about .header-left {
    width: 10%;
    justify-content: flex-start;
  }
  #about .header-left h1, #about .header-left h2 {
    display: none;
  }
  #about .header-right {
    width: 90%;
    visibility: visible;
  }
  #about .main {
    height: 86.5vh;
  }
  #about .main-right, #about .main-left {
    float: none;
    width: 100%;
    height: 48%;
  }
  #about .main-left .wrap-img .flip {
    width: 135.25px;
    height: 118.5px;
  }
  #about .main-left .wrap-img .flip-front h2 {
    line-height: 118.5px;
    font-size: 1em;
  }
  #about .main-left .wrap-img img {
    width: 135.25px;
    height: 118.5px;
  }
  #about .main-right-img .text-img {
    width: 36%;
    left: 32.5%;
  }
  #about .main-right-img img {
    max-width: 50%;
  }
  #about .footer-img {
    display: none;
  }
  #about .main-right .text-img {
    width: 80%;
    left: 13%;
  }
  #about .main-right img {
    display: none;
  }
}

#tech {
  display: block;
  color: rgb(22, 119, 22);
}
#tech .header {
  width: 100%;
  height: 13.5vh;
  background-color: transparent;
}
#tech .header-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  padding-left: 5px;
  float: left;
  width: 50%;
  height: 100%;
}
#tech .header-left h1, #tech .header-left h2, #tech .header-left h3 {
  color: rgb(22, 119, 22);
}
#tech .header-left h3 {
  font-weight: bold;
}
#tech .header-left h1 {
  font-size: 2em;
}
#tech .header-left h2 {
  font-size: 1.4em;
}
#tech .header-left h3 {
  font-size: 0.8em;
}
#tech .header-right {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  visibility: hidden;
}
#tech .header-right .custom-bg {
  background-color: transparent !important;
}
#tech .header-right .custom-bg .navbar-nav {
  background-color: rgb(22, 119, 22);
  border-radius: 10px;
}
#tech .header-right .custom-bg .navbar-nav .nav-link {
  padding-left: 7px;
  color: black;
}
#tech .header-right .custom-bg .navbar-toggler {
  background-color: rgb(22, 119, 22);
}
#tech .main {
  width: 100%;
  height: 55vh;
}
#tech .main-left, #tech .main-right {
  width: 50%;
  height: 100%;
  float: left;
}
#tech .main-left-top {
  width: 90%;
  height: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
}
#tech .main-left-top .figure {
  margin-left: 10px;
}
#tech .main-left-top .figure .caption p {
  text-align: center;
  font-family: "Action Man";
  background-color: black;
  border-radius: 5px;
}
#tech .main-left-top .figure:first-of-type {
  margin-left: 0;
}
#tech .main-left-bot {
  width: 90%;
  height: 15%;
  margin: auto;
}
#tech .main-left-bot h1 {
  line-height: 50px;
}
#tech .main-right-top {
  width: 90%;
  height: 15%;
  margin: auto;
}
#tech .main-right-top h1 {
  line-height: 50px;
  text-align: right;
}
#tech .main-right-bot {
  width: 90%;
  height: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
}
#tech .main-right-bot .figure {
  margin-left: 10px;
}
#tech .main-right-bot .figure .caption p {
  text-align: center;
  font-family: "Action Man";
  background-color: black;
  border-radius: 5px;
}
#tech .main-right-bot .figure:first-of-type {
  margin-left: 0;
}
#tech .footer {
  width: 100%;
  height: 31.5vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tech .footer-img {
  float: left;
  width: 31, 3%;
  height: 100%;
}
#tech .footer-img img {
  height: 300px;
}
#tech .footer-img img:hover {
  height: 320px;
}

/*******************/
/** Media Queries **/
/*******************/
@media only screen and (min-width: 701px) and (max-width: 1120px) {
  #tech .footer {
    height: 19vh;
  }
  #tech .footer-img a img {
    height: 190px;
  }
}
@media only screen and (min-width: 10px) and (max-width: 700px) {
  #tech .header {
    height: 10vh;
  }
  #tech .header-left {
    width: 10%;
    justify-content: flex-start;
  }
  #tech .header-left h1, #tech .header-left h2 {
    display: none;
  }
  #tech .header-right {
    width: 90%;
    visibility: visible;
  }
  #tech .main {
    height: 90vh;
  }
  #tech .main-left, #tech .main-right {
    float: none;
    width: 100%;
    height: 50%;
  }
  #tech .footer {
    display: none;
  }
}

#contacts .header {
  width: 100%;
  height: 20vh;
  background-color: transparent;
}
#contacts .header-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  padding-left: 5px;
  float: left;
  width: 50%;
  height: 100%;
}
#contacts .header-left h1, #contacts .header-left h2, #contacts .header-left h3 {
  color: rgb(253, 10, 10);
}
#contacts .header-left h3 {
  font-weight: bold;
}
#contacts .header-left h1 {
  font-size: 2em;
}
#contacts .header-left h2 {
  font-size: 1.4em;
}
#contacts .header-left h3 {
  font-size: 0.8em;
}
#contacts .header-right {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  visibility: hidden;
}
#contacts .header-right .custom-bg {
  background-color: transparent !important;
}
#contacts .header-right .custom-bg .navbar-nav {
  background-color: #fe6f6f;
  border-radius: 10px;
}
#contacts .header-right .custom-bg .navbar-nav .nav-link {
  padding-left: 7px;
  color: black;
}
#contacts .header-right .custom-bg .navbar-toggler {
  background-color: #fe6f6f;
}
#contacts .main {
  width: 100%;
  height: 80vh;
}
#contacts .main-left, #contacts .main-right {
  height: 100%;
  float: left;
}
#contacts .main-left {
  width: 35%;
}
#contacts .main-left-img {
  height: 33.3%;
}
#contacts .main-left-img img {
  height: 270px;
}
#contacts .main-left-img img:hover {
  height: 250px;
}
#contacts .main-right {
  width: 65%;
  border-radius: 10px;
}
#contacts .main-right .social h2 {
  font-family: "Action Man";
  color: black;
}
#contacts .main-right .social .social-img {
  height: 80%;
}
#contacts .main-right .social .form .wrap-form {
  background-color: #fe8888;
  border-color: #fe8888 !important;
}
#contacts .main-right .social .form label,
#contacts .main-right .social .form input,
#contacts .main-right .social .form button,
#contacts .main-right .social .form textarea {
  font-family: "Roboto";
}
#contacts .main-right .social .form button {
  color: #fe8888;
}
#contacts .main-right .social .form img {
  height: 20px;
}

/*-----------------------*/
/* *** Media Queries *** */
/*-----------------------*/
@media only screen and (max-width: 1600px) {
  #contacts .form {
    width: 75% !important;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1599px) {
  #contacts .main-left {
    width: 30%;
  }
  #contacts .main-left-img img {
    height: 208px;
  }
  #contacts .main-right {
    width: 70%;
  }
}
@media only screen and (max-width: 999px) {
  #contacts .header {
    height: 10vh;
  }
  #contacts .header-left {
    width: 10%;
    justify-content: flex-start;
  }
  #contacts .header-left h1, #contacts .header-left h2 {
    display: none;
  }
  #contacts .header-right {
    width: 90%;
    visibility: visible;
  }
  #contacts .main-left {
    display: none;
  }
  #contacts .main-right {
    width: 100%;
    visibility: visible;
  }
  #contacts .main-right .form {
    width: 75% !important;
  }
}

#portfolio h3 a {
  text-decoration: none;
  color: rgb(14, 153, 9);
}
#portfolio h3 a:hover {
  text-decoration: underline;
}
#portfolio .nav {
  margin-top: 50px;
}
#portfolio .nav .custom-tab-btn {
  font-family: "Action Man";
  font-size: 1.5em;
  color: rgb(22, 119, 22);
  background-color: transparent;
}
#portfolio .nav .custom-tab-btn.active {
  background-color: #aafaa7;
  border-color: #aafaa7;
}
#portfolio #cvdgt {
  text-align: center;
}
#portfolio #cvdgt p {
  padding-top: 5px;
  color: rgb(14, 153, 9);
  font-family: "Action Man";
}
#portfolio #cvdgt object {
  width: 100%;
  height: 700px;
}
#portfolio .custom-tab {
  width: 80%;
  margin: auto;
}
#portfolio .custom-tab .project {
  margin: auto;
  width: 100%;
  max-width: 800px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#portfolio .custom-tab .project .description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#portfolio .custom-tab .project .description p {
  font-family: "Action Man";
  color: rgb(22, 119, 22);
  padding: 0 15px;
}
#portfolio .custom-tab .project .description p a {
  font-family: "Action Man";
  color: rgb(22, 119, 22);
  text-decoration: none;
}
#portfolio .custom-tab .project .description p a:hover {
  text-decoration: underline;
  color: rgb(14, 153, 9);
}
#portfolio .custom-tab .project .image-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio .custom-tab .project .image-link img {
  margin: auto;
  max-height: 110px;
}
#portfolio .custom-tab hr {
  border-color: rgb(248, 248, 248);
}

/*# sourceMappingURL=style.css.map */
