#portfolio {    .header {
    width: 100%;
    height: 13.5vh;
    background-color: transparent;
    &-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        padding-left: 5px;
        float: left;
        width: 50%;
        height: 100%;
        h1, h2, h3 {
            color: $text_green;
        }
        h3{
            font-weight: bold;
        }
        @include set-heading(h1 h2 h3, 2em, 0.6) //sets h1, h2 and h3 headings
    }
    &-right {
        float: left;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items:flex-start;
        & .custom-bg {
            background-color: transparent !important;
            & .navbar-nav {
                background-color: lighten($primary_color, 10);
                border-radius: 10px;
                & .nav-link {
                    padding-left: 7px;
                    color: $text_green;
                    &:hover {
                        color: white;
                    }
                }
            }
            & .navbar-toggler {
                background-color: lighten($primary_color, 10);
            }
        }
    }

}

    .nav {
        .custom-tab-btn {
            font-family: $secondary_font;
            font-size: 1.5em;
            color: $text_green;
            background-color: transparent;
        }
        .custom-tab-btn.active {
            background-color:  lighten($secondary_color, 50%) ;
            border-color: lighten($secondary_color, 50%);
        }
    }

    #cvdgt {
        text-align: center;
        p{
            padding-top: 5px;
            color: $secondary_color;
            font-family: $secondary_font;
        }
        object {
            width: 100%;
            height: 700px;
        }
    }

    .custom-tab {
        width: 80%;
        margin: auto;
        .project {
            margin: auto;
            width: 100%;
            max-width: 800px;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .description {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                p {
                    font-family: $secondary_font;
                    color: $text_green;
                    padding: 0 15px;
                    a {
                        font-family: $secondary_font;
                        color: $text_green;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                            color: $secondary_color;
                        }
                    }
                }
            }
            .image-link {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    margin: auto;
                    max-height: 110px;
                }
            }
        }
        hr {
            border-color: $third_color;
        }
    }
}