#contacts {

    @media only screen and (max-width:1600px) {
        .form {
            width: 75% !important;
        }
    }
    
    @media only screen and (min-width:1000px) and (max-width:1599px) {

        .main-left {
            width: 30%;
            &-img {
                img {
                    height: 208px;
                }
            }
        }
        .main-right {
            width: 70%;
        }
    }

    @media only screen and (max-width:999px){
        
        .header {
            height: 10vh;
            &-left {
                width: 10%;
                justify-content: flex-start;
                h1, h2 {
                    display: none;
                }
            }
            &-right {
                width: 90%;
                visibility: visible;
            }
        }
        .main-left {
            display: none;
        }
        .main-right {
            width: 100%;
            visibility: visible;
            .form {
                width: 75% !important;
            }
        }
    }
}